// override vars for theming here
$primary-color: #FF6633;
$secondary-color: #33CC00;

// dark theme
$background: #000033;
$light-background: #000066;
$text-color: #EEEEEE;
$form-background-color: #000066;
$form-text-color: #EEEEEE;
$muted-color: #999999;

