// override vars for theming here
$primary-color: #7FBBB3;
$secondary-color: #E67E80;

$code-highlight-background: #002b36;

// dark theme
$background: #2D353B;
$light-background: #425047;
$text-color: #D3C6AA;
$form-background-color: #E8E5D5;
$form-text-color: #5C6A72;
$muted-color: #999999;

.p-author .p-note{
  font-size: small;
  line-height: 1.2rem;
}

button, .label-btn, nav input[type=submit] {
  border-radius: 10px;

  // add shadow to button
  // shadow is shining for dark theme
  box-shadow: 0 0 20px 0 #808080;

  // shadow is brighter if button is hovered
  &:hover {
    box-shadow: 0 0 40px 0 #FFFFFF;
  }
}

.mini {
  font-size: 0.8rem;
}

.header-profile {
  display: flex;
}

.active-header {
  border-bottom: 2px solid #7FBBB3;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


@media(max-width:420px) {
  a {
    word-wrap: break-word;
  }

  .pc {
    display: none;
  }

  .inline-img {
    max-width: 100% !important;
  }

  .navemoji{
    width: 2.5rem;
  }

  nav form button {
    line-height: 1.2rem !important;
  }

  nav.flexbox ul li{
    margin-right: 10px;
  }

  .header-profile .icon-box{
    display:none;
  }
}

@media(min-width:420px) {
  .mobile { display: none; }


  .header-profile .icon-box{
    width: 280px; 
    height: 280px; 
  }

  .header-profile .icon-box img{
    width: 280px;
    height: 280px;
  }

  .header-profile .profile {
    flex-grow: 1;
    margin-left: 20px;
  }
}
